.panel {
    justify-content: center;
  }
  
  .card {
    margin: 0 60px 20px;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;
    position: relative;
    border: 0;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
  
    .panel-title {
      padding: 15px 15px;
      color: #9a9a9a;
      text-align: center;
      font-size: x-large;
    }
  
    .panel-body {
      padding: 15px 0;
      margin: 0 15px;
      border-top: 1px solid rgba(0,0,0,.1);
  
      .div-form {
        max-width: 300px;
        margin: 0 auto;
  
        mat-form-field {
          width: 300px;
        }
      }
    }
  }
  
  .messageError {
    position: relative;
    padding: 10px;
    margin: 10px -12px;
    border: 1px solid;
    border-radius: 5px;
    color: red;
    white-space: initial;
    max-width: 560px;
    font-size: 16px;
    line-height: 19px;
  
    .messageError-content {
      text-align: center;
      letter-spacing: 0.03px;
    }
  }
  
  .group-btn {
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 16px auto 0;
  }
  
  .btn-round button {
    background-color: #662581;
    border: none;
    color: white;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 40px 20px;
    transition: all 0.3s ease-in-out;
  
    &:active  {
      transform: scale(0.95);
    }
  }