<div class="panel">
    <div class="card card-stats">
      <div class="panel-title">Upload files</div>
      <div class="panel-body">
        <form [formGroup]="fileForm">
          <div class="div-form">
            <mat-form-field appearance="outline">
              <ngx-mat-file-input formControlName="fichier" placeholder="Basic Input"></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
              
            </mat-form-field>
  
          </div>
          <div class="group-btn">
            <div class="btn-round">
              <button type="button" (click)="annuler()" class="">
                ANNULER
              </button>
            </div>
            <div class="btn-round">
              <button type="submit"  (click)="uploadFile()" class="">
                CHARGER
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>