
  <div class="row">
    <div class="col-md-2 offset-md-8">
      <button mat-raised-button class="add-button" color="primary" routerLink="create">
        <mat-icon>add_box</mat-icon> Ajouter
      </button>
     </div>
  </div>

      <div class="example-container mat-elevation-z8">
        <table [dataSource]="produits" mat-table matSort>
  
          
          <ng-container matColumnDef="id" sticky>
            <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="designation" sticky>
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Designation</th>
            <td *matCellDef="let element" mat-cell> {{element.designation}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="price">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> price</th>
            <td *matCellDef="let element" mat-cell> {{element.price}} </td>
          </ng-container>

          <ng-container matColumnDef="quantite">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> quantite</th>
            <td *matCellDef="let element" mat-cell> {{element.quantite}} </td>
          </ng-container>
  


          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button [matMenuTriggerFor]="menu" class="border-0 bg-transparent" mat-icon-button id="listActionNotif">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deleteproduit(element.id)">
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="updateproduit(element.id)">
                        <span>Update</span>
                    </button>
                    <button mat-menu-item (click)="affectItem(element.id)">
                        <span>Affect item</span>
                    </button>
                </mat-menu>

            </mat-cell>
          </ng-container>
  
    
  
          <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
          <tr  *matRowDef="let row; columns: displayedColumns;" mat-row (click)="create(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25,50,100]" [pageSize]="25" showFirstLastButtons></mat-paginator>
      </div>
   