.hover:hover {
    background-color: #FFE4C4;
    cursor: pointer;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .table-container {
    display: flex;
    flex-flow: nowrap;
    overflow: auto;
    min-width: 100%;
  
    .table-content {
      flex: 1 1 100%;
    }
  }
  
  table {
    width: 100%;
  }
  
  ::ng-deep {
    mat-table {
      overflow-x: auto;
    }
  
    .mat-paginator-outer-container .mat-paginator-container {
      flex-wrap: nowrap;
      white-space: nowrap;
    }
  
    .mat-header-cell {
      white-space: nowrap;
      min-width: 80px;
    }
  
  }
  
  .table-item {
    flex: 1 1 100%;
  }
  
  
  .dynamic-data-container {
    display: flex;
    flex-flow: nowrap;
    overflow: auto;
    max-height: 95vh;
    min-width: 100%;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  td.mat-cell:first-child, th.mat-header-cell:first-child {
    padding: 0px 20px;
    border-right: 1px solid #e0e0e0;
    
  }
  td.mat-cell:nth-child(2), th.mat-header-cell:nth-child(2) {
    padding: 0px 30px;
  }
  td.mat-cell:nth-child(4), th.mat-header-cell:nth-child(4) {
    padding: 0px 30px;
  }
  td.mat-cell:nth-child(5), th.mat-header-cell:nth-child(5) {
    padding: 0px 30px;
  }
  td.mat-cell:nth-child(7), th.mat-header-cell:nth-child(7) {
    padding: 0px 20px;
  }
  td.mat-cell:nth-child(10), th.mat-header-cell:nth-child(10) {
    padding: 0px 30px;
  }
  
  .mat-paginator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  .light {
    background-color: rgba(34, 70, 170, 0.712);
    color: #FFF;
    transition: all 1s ease 0s;
  }
  .light:hover {
    background-color: rgba(34, 70, 170, 0.88);
  }
  
  .flag {
    background-color: #d44c5e;
  }
  
  
  
  