<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-button>Logo App</button>
            <button mat-button><mat-icon (click)="toggleSidebar()">reorder</mat-icon></button>
        </div>
        <div >
            <span  class="button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</span>
            <span  class="button" routerLink="/projects" routerLinkActive="active">Projects</span>
            <span  class="button" routerLink="/items" routerLinkActive="active">Items</span>
            <span  class="button" routerLink="/forms" routerLinkActive="active">Forms</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

  